@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* { 
    font-family: Poppins;
    padding: 0;
    margin: 0;
}

body{
    background-color: #F7F7F7;
}

.logo{
    color: white;
    flex: 1;
    font-size: 32px;
    font-weight: bolder;
}
 
.navbar{
    display: flex;
    padding: 12px;
    align-items: center;
}

.elements{
    font-size: 20px;
    padding-left: 20px;
    color: white;
}

.top{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1E6AE1;
    padding: 20px;
}

a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.search {

    display: flex;
    align-items: center;
    border: 1px solid rgb(195, 195, 195);
    background-color:white;
    border-radius: 24px;
    padding-left: 6px;

}

.search input, .search input:focus {

    border: 0;
    resize: none;
    width: 100%;
    outline: none;
    background-color: transparent;
    color:#1E6AE1;


}

.search input::placeholder{

    color:white;

}

.icon{

    font-size: 24px;

}

.image{

    background-size: cover;
    padding: 20%;
    background-repeat: no-repeat;
    /* background-image: url("http://atlas-content-cdn.pixelsquid.com/stock-images/gold-icon-shopping-cart-4G3rGDF-600.jpg"); */

    /* background-image: url("https://www.pngitem.com/pimgs/m/33-337386_gold-shopping-cart-png-transparent-png.png"); */
}

.main{

    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-image: url("pages/Cart.jpg");
    background-position-y: center;
    background-position-x: 75px;
    background-color: #9DE4F6;

    background-size: cover;
    background-repeat: no-repeat;

}

::-webkit-scrollbar{

    width: 2%;

}

.newsletter{

    text-align: right;
    background-color: #191919;
    display: flex;
    padding: 40px;
    justify-content: space-around;

}

.newsletter div{

    color: white;

}

.btns {

    display: flex;

}

.newsletter .btns {
    justify-content: flex-end
}

.btn{


    margin-top: 40px ;
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;

}

.btn1{

    background-color: rgb(74, 74, 255);
    color: white;

}

.btn2{

    color: rgb(74, 74, 255);
    font-weight: bolder
}
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@font-face {
    font-family: "Calculator";
    src: url("../Calculator/pages/Fonts/Calculator.ttf");
}
body {
  background: #dde1e7;
  font-family: 'Montserrat', sans-serif;
}
.container {
    background: #3a3a3b;
  width: 320px;
  height: 550px;
  border-radius: .5em;
  box-shadow: -3px -3px 7px #ffffff73,
              2px 2px 5px rgba(94, 104, 121, 0.288);
  margin: 0 auto;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.container .result {
  width: 100%;
  height: 150px;
  background: #7ff748;
  box-shadow: inset 2px 2px 5px #babecc,
              inset -5px -5px 10px #ffffff73;
  
}
.container .result p {
  font-size: 40pt;
  font-family: "Calculator";
  overflow-y: auto;
  text-align: right;
  

}

.container .buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  background: #3a3a3b;
}
.container .buttons .button, .container .buttons .num-button  {
  cursor: grab;
  text-align: center;
  background: #dde1e7;
  width: 60px;
  font-size:18px;
  height: 60px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  /* box-shadow: 2px 2px 5px #babecc,
              -5px -5px 10px #ffffff73; */

}
.button:hover{
  color: #3498db;

 
}

.container .buttons .zero {
  grid-column: 1/ 3;
  background: #dde1e7;
  width: 100%;
  font-size:18px;
  border-radius: 10px;
  /* box-shadow: 2px 2px 5px #babecc,
              -5px -5px 10px #ffffff73; */
}

 
.action-btn {
  color: grey;
  font-weight: bold;
}
.calc-action-btn{
  color: #ed11d7;
  font-size: 20px;
  font-weight: bold;
}
.show{

    position: fixed;
    right:    0;
    bottom:   0;
    margin: 50px;
    cursor: pointer;
    background-color: #3498db;
    padding: 15px;
    border-radius: 80px;
    font-weight: 600;
    color: #F7F7F7;
    
}
.show:hover{
    transform:scale(1.1) ;
    transition: .3s;


}
.popup{

    padding: 20px;
    position: fixed;
    right:    0;
    bottom:   0;
    display: none;
}

.total {

    padding-right: 100px;
    

}

.elms{

    padding: 10px;

}
.calc{
    transform:scale(0.7);
    position: absolute;
    right:    0;
    bottom:   0;
}

@keyframes calcOpen {
    
    0% {

        transform: scale(0);

    }

    100% {

        transform: scale(1);        

    }

}
@keyframes calcClose {
    
    0% {

        transform: scale(1);

    }

    100% {

        transform: scale(0);        

    }

}

.calcOpenC{

    animation: calcOpen .5s;

}

.calcCloseC{

    animation: calcClose .3s;

}
.product{

    height: 300px;
    width: 200px;
    border: 1px solid;
    border-color: #dde1e7;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 20px;
    transition: .2s;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    margin: auto;
    margin-bottom: 40px;

}
.product:hover{
    transform: scale(1.1);
    transition: .2s;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}
.pmain{
    display: flex;
    margin-top: 50px;
    

}
.pside{
    margin: 80px 200px 0px 0px;
    font-weight: 800;
    /* line-height: 80px; */
    
}
.productm{
    margin: 20px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: 200px;
}

.abt{

    background-image: url("/pages/About.jpeg");
    padding: 80px;

}

.abtHeading{

    text-align: center;
    font-weight: 900;
    color: white;
    font-size: 40px;
}

.abtSub{

    text-align: center;
    font-weight: 300;
    color: white;  
    font-size: 15px;
    width: 40%;
    margin: auto;

}

.abtLine{

    width: 10%;
    margin: 20px auto;
    padding: 2px;
    background-color: white;        

}

.abtDetails{

    display: flex;
    justify-content: space-evenly;

    padding-top: 40px;

}

.abtDetails div img {

    width: 120px;
    height: auto;

}

.abtHeading2 {

    text-align: center;
    font-weight: 900;
    color: white;
    font-size: 40px;
    color: rgb(66, 66, 66)

}

.abtSub2{

    text-align: center;
    font-weight: 300;
    color: rgb(66, 66, 66);
    font-size: 15px;
    width: 40%;
    margin: auto;
    padding: 20px;

}

.abtImage2a{

    width: 30%;
    margin: auto;
    padding: 180px;
    background-image: url("/pages/IMG1.jpg");
    background-size: cover;
    background-position: bottom;
    box-shadow: 8px 8px 16px rgb(186, 186, 186);

}

.abtImage2b{

    width: 30%;
    margin: auto;
    padding: 180px;
    background-image: url("/pages/IMG2.jpg");
    background-size: cover;
    background-position: bottom;
    box-shadow: 8px 8px 16px rgb(186, 186, 186);

}

.psideItems{

    width: 120%;
    background-color:#1E6AE1;
    color: white;
    margin-bottom: 18px;
    text-align: center;
    padding: 10px 4px 10px 4px;

}